<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokid.mapper.CClientMapper">

    <select id="getList" parameterType="map" resultType="map">

        SELECT c.* FROM dbo.bmt_keh c
        LEFT JOIN dbo.amt_user_kh uc ON uc.keh_j = c.keh_j

        <where>

            <if test="keh_j != null">
                AND c.keh_j like ('%'+ #{keh_j} + '%')
            </if>

            <if test="keh_bh != null">
                AND c.keh_bh like ('%'+ #{keh_bh} + '%')
            </if>

            <if test="yewy != null">
                AND c.yewy like ('%'+ #{yewy} + '%')
            </if>

            <if test="keh_q_gs != null">
                AND c.keh_q_gs like ('%'+ #{keh_q_gs} + '%')
            </if>

            <if test="weny != null">
                AND c.weny like ('%'+ #{weny} + '%')
            </if>

            <if test="hezuo_lb != null">
                AND c.hezuo_lb like ('%'+ #{hezuo_lb} + '%')
            </if>

            <if test="keh_j_2 != null">
                AND c.keh_j_2 like ('%'+ #{keh_j_2} + '%')
            </if>

            <if test="username != null">
                AND uc.user_n = #{username}
            </if>

        </where>
    </select>


</mapper>