<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokid.mapper.CDeliveryInquiryMapper">

    <select id="getList" parameterType="map" resultType="map">

        SELECT d.* FROM dbo.btr_chpch d
        LEFT JOIN dbo.amt_user_kh uc ON uc.keh_j = d.keh_j

        <where>

            <if test="keh_j != null">
                AND d.keh_j like ('%'+ #{keh_j} + '%')
            </if>

            <if test="id_chpch_m != null">
                AND d.id_chpch_m like ('%'+ #{id_chpch_m} + '%')
            </if>

            <if test="chpch_bh != null">
                AND d.chpch_bh like ('%'+ #{chpch_bh} + '%')
            </if>

            <if test="pingm_bh != null">
                AND d.pingm_bh like ('%'+ #{pingm_bh} + '%')
            </if>

            <if test="pingm != null">
                AND d.pingm like ('%'+ #{pingm} + '%')
            </if>

            <if test="liaoh != null">
                AND d.liaoh like ('%'+ #{liaoh} + '%')
            </if>

            <if test="keh_po != null">
                AND d.keh_po like ('%'+ #{keh_po} + '%')
            </if>

            <if test="username != null">
                AND uc.user_n = #{username}
            </if>

        </where>
    </select>


</mapper>