<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokid.mapper.CDeliveryInquiryMapper">

    <select id="getList" parameterType="map" resultType="map">

        SELECT d.* FROM dbo.btr_chpch d
        LEFT JOIN dbo.amt_user_kh uc ON uc.keh_j = d.keh_j

        <where>

            <if test="clientName != null">
                AND d.keh_j like ('%'+ #{clientName} + '%')
            </if>

            <if test="username != null">
                AND uc.user_n = #{username}
            </if>

        </where>
    </select>


</mapper>