<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokid.mapper.CModelInfoMapper">

    <select id="getList" parameterType="map" resultType="map">

        SELECT m.* FROM  dbo.bmt_pingm m
        LEFT JOIN dbo.amt_user_kh uc ON uc.keh_j = m.keh_j

        <where>

            <if test="pingm != null">
                AND m.pingm like ('%'+ #{pingm} + '%')
            </if>

            <if test="id_pingm != null">
                AND m.id_pingm like ('%'+ #{id_pingm} + '%')
            </if>

            <if test="pingm_bh != null">
                AND m.pingm_bh like ('%'+ #{pingm_bh} + '%')
            </if>

            <if test="liaoh != null">
                AND m.liaoh like ('%'+ #{liaoh} + '%')
            </if>

            <if test="keh_j != null">
                AND m.keh_j like ('%'+ #{keh_j} + '%')
            </if>

            <if test="caizh != null">
                AND m.caizh like ('%'+ #{caizh} + '%')
            </if>

            <if test="username != null">
                AND uc.user_n = #{username}
            </if>

        </where>
    </select>


</mapper>