<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokid.mapper.CClientMapper">

    <select id="getClientList" parameterType="map" resultType="map">

        SELECT c.* FROM dbo.amt_user_kh uc
        LEFT JOIN dbo.btr_dind o ON uc.keh_j = o.keh_j

        <where>

            <if test="orderPO != null">
                AND o.keh_po like ('%'+ #{orderPO} + '%')
            </if>

            <if test="username != null">
                AND uc.user_n = #{username}
            </if>

        </where>
    </select>


</mapper>