<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokid.mapper.COrderMapper">

    <select id="getList" parameterType="map" resultType="map">

        SELECT o.* FROM dbo.btr_dind o
        LEFT JOIN dbo.amt_user_kh uc ON uc.keh_j = o.keh_j

        <where>

            <if test="keh_po != null">
                AND o.keh_po like ('%'+ #{keh_po} + '%')
            </if>

            <if test="id_dind_b != null">
                AND o.id_dind_b like ('%'+ #{id_dind_b} + '%')
            </if>

            <if test="id_dind_m != null">
                AND o.id_dind_m like ('%'+ #{id_dind_m} + '%')
            </if>

            <if test="keh_j != null">
                AND o.keh_j like ('%'+ #{keh_j} + '%')
            </if>

            <if test="pingm_bh != null">
                AND o.pingm_bh like ('%'+ #{pingm_bh} + '%')
            </if>

            <if test="pingm != null">
                AND o.pingm like ('%'+ #{pingm} + '%')
            </if>

            <if test="liaoh != null">
                AND o.liaoh like ('%'+ #{liaoh} + '%')
            </if>

            <if test="username != null">
                AND uc.user_n = #{username}
            </if>

        </where>
    </select>


</mapper>